In [2]:
#import libraries

import numpy as np
import pandas as pd

In [4]:
#retrive DATA

df = pd.read_csv('../data/creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [8]:
#define a neural network from scratch
class ThreeLayerNet():
    def __init__(self, input_size, first_layer_size, second_layer_size, output_size, std=1e-4):
        self.params={}
        self.params['W1'] = std * np.random.randn(input_size, first_layer_size)
        self.params['b1'] = np.zeros(first_layer_size)
        self.params['W2'] = std * np.random.randn(first_layer_size, second_layer_size)
        self.params['b2'] = np.zeros(second_layer_size)
        self.params['W3'] = std * np.random.randn(second_layer_size, output_size)
        self.params['b3'] = np.zeros(output_size)

In [3]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(12, input_dim=8, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

ModuleNotFoundError: No module named 'keras'

In [13]:
#split data into train & test sets

from sklearn.model_selection import train_test_split

X = df.iloc[:,:-1]
y = df["Class"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [17]:
#balance the data
# Since our classes are highly skewed we should make them equivalent in order to have a normal distribution of the classes.

TRAIN = pd.concat([X_train, y_train], axis=1)

# Lets shuffle the data before creating the subsamples

TRAIN = TRAIN.sample(frac=1)

# amount of fraud classes 492 rows.
fraud_df = TRAIN.loc[TRAIN['Class'] == 1]
non_fraud_df = TRAIN.loc[TRAIN['Class'] == 0][:492]

normal_distributed_df = pd.concat([fraud_df, non_fraud_df])

# Shuffle dataframe rows
new_df = normal_distributed_df.sample(frac=1, random_state=42)

new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
206619,136284.0,-1.658673,-1.277519,0.316020,-0.127315,2.585857,0.274675,0.046708,0.467900,0.015506,...,0.098548,-0.227499,0.544152,-0.491443,-0.253296,-0.411869,0.086271,0.183122,118.37,0
43624,41582.0,-1.048005,1.300219,-0.180401,2.589843,-1.164794,0.031823,-2.175778,0.699072,-1.140208,...,0.549014,0.624321,-0.136663,0.131738,0.030921,-0.176701,0.504898,0.069882,39.45,1
53898,46203.0,-0.405044,0.994991,1.376125,0.101588,-0.064969,-0.737001,0.538770,0.125441,-0.206100,...,-0.232140,-0.630561,0.067358,0.310422,-0.325618,0.086181,0.253985,0.095001,1.29,0
202498,134356.0,1.683271,-0.755072,-0.475439,0.558431,-0.815955,-0.704603,-0.227675,-0.215903,1.077003,...,0.325068,0.805640,-0.011653,0.098298,-0.164962,-0.267503,0.010848,-0.005792,167.96,0
15166,26523.0,-18.474868,11.586381,-21.402917,6.038515,-14.451158,-4.146524,-14.856124,12.431140,-4.053353,...,1.741136,-1.251138,-0.396219,0.095706,1.322751,-0.217955,1.628793,0.482248,99.99,1

In [12]:
#train the neural network

In [13]:
#evaluate the performance